/***** MOBILE FIRST DESIGN *****/
/* --- GLOBAL STYLING --- */
:root {
  --light: #eeeeee;
  --medium: #b3afa9;
  --medium-dark: #646464;
  --dark: #151515;
  --red: #ff3e3e;
  --border-radius: 7px;
}

.app {
  width: 100%;
  min-height: 100vh;
  color: var(--dark);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.filled-btn {
  width: 100%;
  font-size: 0.9rem;
  color: var(--light);
  background-color: var(--dark);
  padding: 0.7rem;
  border: none;
}

.outlined-btn {
  width: 100%;
  font-size: 0.9rem;
  color: var(--dark);
  background-color: white;
  border: 1px solid var(--dark);
  padding: 0.7rem;
}

button:hover {
  opacity: 0.8;
}

.outlined-box {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--medium);
  padding: 1rem;
}

.outlined-box-body {
  height: 60px;
  border-bottom: 1px solid var(--medium);
}

.outlined-box-body p {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.outlined-box-footer p {
  width: fit-content;
  font-size: 0.8rem;
}

.outlined-box-footer p:hover {
  opacity: 0.8;
  text-decoration: underline;
  cursor: pointer;
}


/***** HEADER *****/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  transition: all 0.5s linear;
}

/* --- Banner --- */
.banner-wrapper {
  width: 100%;
  font-size: 0.8rem;
  color: var(--light);
  background-color: var(--medium-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

/* --- Navigation --- */
.header-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-nav-row {
  width: 100%;
  color: var(--light);
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.collapsible-main-menu-wrapper {
  flex: 0 1 30%;
}

.logo-wrapper {
  flex: 0 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper h1 {
  margin: 0 1rem;
}

.header-account-menu-wrapper {
  flex: 0 1 30%;
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.horizontal-main-menu-wrapper {
  display: none;
}

.search-bar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- MainMenu --- */
.main-menu-wrapper {
  margin: 0;
}

.main-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 15px;
  transition: 0.5s;
}

.main-menu li {
  color: var(--dark);
  font-size: 1rem;
  display: block;
  padding: 1rem 2rem;
  transition: 0.3s;
  text-decoration: none;
}

.main-menu li:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.main-menu li:last-of-type {
  color: var(--red);
}

.main-menu-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
}

/* --- AccountMenu --- */
.login-status-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.header-nav-menu-with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  white-space: nowrap;
}

.header-nav-menu-with-icon:hover {
  color: var(--medium);
  cursor: pointer;
}

.header-nav-menu-with-icon span {
  display: none;
}

/***** MAIN *****/
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 2.5rem;
}

/* --- Account --- */
.account-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-account-menu-wrapper {
  width: 100%;
}

.MuiAccordion-root .MuiAccordionSummary-content p {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.MuiAccordionDetails-root ul {
  font-size: 0.8rem;
}

.MuiAccordionDetails-root li {
  padding: 0.5rem 0;
}

.MuiAccordionDetails-root ul li:hover {
  text-decoration: underline;
}

.account-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* --- Login & Register --- */
.account-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.account-form {
  width: 100%;
}

.form-group {
  margin-bottom: 2rem;
}

.form-error-message {
  color: var(--red);
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.5rem;
}

.switch-account-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 1px solid var(--medium);
}

.switch-account-form-wrapper p {
  text-align: center;
  font-size: 0.9rem;
}

/* --- AccountDetail --- */
.account-detail-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* --- Home --- */
.home-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.just-landed {
  width: 100%;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.just-landed img {
  width: 100%;
}

.just-landed-text {
  color: var(--light);
  position: absolute;
  top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.just-landed-text h1 {
  font-size: 2.5rem;
  font-family: 'Century Gothic';
}

#just-landed-shop-now-button {
  color: var(--light);
  background-color: unset;
  border: 1px solid var(--light);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
}

#just-landed-shop-now-button:hover {
  opacity: 0.8;
}

.product-category-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  padding: 1rem;
  gap: 1rem;
}

.product-category {
  width: 200px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-category:hover {
  opacity: 0.8;
}

.product-category img {
  width: 200px;
  height: 230px;
}

.product-category h4 {
  height: 20px;
}

/* --- ProductList --- */
.main-content-container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.main-content-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
}

.main-content-row:first-of-type {
  border-bottom: 1px solid var(--light);
}

.main-content-row h3 {
  font-size: 1.2rem;
  font-weight: 300;
}

.product-filter-and-sort-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-filter-wrapper {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.collapsible-product-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product-result-num {
  color: var(--medium-dark);
}

.product-list-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.side-product-filter-wrapper {
  display: none;
}

.product-card-column-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 47%);
  grid-gap: 1rem;
  justify-content: space-between;
}

/* --- ProductCard --- */
.product-card-column {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.product-card {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem;
}

.product-card-header {
  width: 100%;
}

.product-card-header img {
  width: 100%;
  aspect-ratio: 2/3;
}

.product-card-body {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

.product-card-designer {
  width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
}

.product-card-name {
  width: 100%;
  font-size: 0.8rem;
  line-height: 1rem;
}

.product-card-price {
  width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
}

.sale-price-wrapper {
  display: flex;
  gap: 0.5rem;
}

.sale-price-wrapper .original-price {
  color: var(--medium-dark);
  font-weight: 100;
  text-decoration: line-through;
}

/* --- ProductDetail --- */
.product-detail-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-detail-image {
  width: 100%;
}

.product-detail-image img {
  width: 100%;
}

.product-detail-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.product-detail-info h3 {
  font-size: 1.3rem;
}

.product-detail-info p {
  font-size: 1rem;
}

.product-detail-price {
  font-weight: bold;
}

.product-detail-button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* --- NotFound --- */
.not-found-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* --- DesignerList --- */
.designer-list-content-wrapper {
  width: 100%;
}

/***** FOOTER *****/
footer {
  height: 2.5rem;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer ul li:nth-of-type(2):hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {

  /***** MAIN *****/
  .main-content-container {
    padding: 0 3rem;
  }

  .product-card-column-wrapper {
    grid-template-columns: repeat(auto-fill, 31%);
  }
}

@media screen and (min-width: 992px) {

  /**** HEADER ****/
  /* --- Banner --- */
  .banner-wrapper {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }

  /* --- Navigation --- */
  .header-nav-row {
    padding: 1rem;
  }

  .collapsible-main-menu-wrapper .main-menu-wrapper {
    display: none;
  }

  .logo-wrapper h1 {
    font-size: 2rem;
  }

  .header-account-menu-wrapper {
    gap: 1.5rem;
  }

  .header-nav-row:nth-of-type(2) {
    padding: 0.5rem 1rem;
    background-color: var(--dark);
  }

  .horizontal-main-menu-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-bar-wrapper {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* --- AccountMenu --- */
  .login-status-wrapper {
    gap: 1.5rem;
  }

  .header-nav-menu-with-icon span {
    display: inline-block;
  }

  /* --- MainMenu --- */
  .main-menu-wrapper {
    width: 100%;
    color: var(--light);
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-menu {
    width: 700px;
    overflow-x: visible;
    position: static;
    top: initial;
    left: initial;
    color: var(--light);
    background-color: var(--dark);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }

  .main-menu li {
    font-size: 0.9rem;
    padding: 0;
    color: var(--light);
    background-color: var(--dark);
  }

  .main-menu li:first-of-type {
    display: none;
  }

  #collapsible-menu-icon {
    display: none;
  }

  /***** MAIN *****/
  /* --- Account --- */
  .account-wrapper {
    flex-direction: row;
  }

  .main-account-menu-wrapper {
    width: 30%;
  }

  /* --- Login & Register --- */
  .account-form-wrapper {
    width: 500px;
  }

  /* --- AccountDetail --- */
  .account-detail-wrapper {
    flex-direction: row;
  }

  .account-detail-wrapper .outlined-box {
    flex: 0 1 50%;
  }

  /* --- Home --- */
  .just-landed img {
    position: relative;
    bottom: 15rem;
  }

  .just-landed-text {
    top: 20%;
    left: 10%;
    gap: 1rem;
  }

  .product-category-wrapper {
    width: 100vw;
    justify-content: center;
  }

  .product-category {
    width: 180px;
  }

  .product-category img {
    width: 100%;
  }

  .product-category h4 {
    font-size: 0.8rem;
  }

  /* --- ProductList --- */
  .product-list-wrapper {
    align-items: flex-start;
    gap: 2rem;
  }

  .collapsible-product-filter {
    display: none;
  }

  .side-product-filter-wrapper {
    display: block;
    width: 30%;
    font-size: 0.8rem;
  }

  /* --- ProductDetail --- */
  .product-detail-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem;
  }

  .product-detail-image {
    width: 40%;
  }

  .product-detail-info {
    width: 40%;
  }

  /* --- DesignerList --- */
  .designer-list-content-wrapper {
    width: 500px;
  }


}