/* --- RESET CSS --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1;
  font-family: sans-serif;
}

header,
main,
footer {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  margin: 0;
  padding: 0;
}

.link:link,
.link:visited,
.link:hover,
.link:active {
  color: unset;
  text-decoration: none;
}

form {
  width: 100%;
}